<h2 mat-dialog-title>Crear nuevo turno</h2>
<mat-dialog-content class="d-grid">
    <mat-form-field appearance="fill">
        <mat-label>Modelo / Patente</mat-label>
        <input matInput [(ngModel)]="patente">
        <mat-icon matSuffix>article</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Habitacion</mat-label>
        <mat-select [(ngModel)]="habitacionSelected">
            <mat-option [value]="habitacion"
                *ngFor="let habitacion of habitacionList;">{{habitacion.nombre}}</mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="createTurno()">Crear turno</button>
</mat-dialog-actions>